<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dev_schema?useSSL=false</property>
		<property name="hibernate.connection.username">bnenavat</property>
		<property name="hibernate.connection.password">teksystems</property>
		<property name="hibernate.dialet">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping class="com.tek.hibernate.firstcachemethods.Dept" />
		<mapping class="com.tek.beans.Employee" />
		<mapping class="com.tek.beans.Address" />
		<mapping class="com.tek.beans.Department" />
	</session-factory>
</hibernate-configuration>
